#version:1.0.0.1


account.1.enable = 1
account.1.label = 1231
account.1.display_name = <1231>
account.1.auth_name = 1231
account.1.user_name = 1231
account.1.password = StrongSIPPassword123
account.1.sip_server.1.address = 192.168.1.50
account.1.sip_server.1.port = 5060

## Общие параметры телефона ##
lang.wui = Russian
lang.gui = Russian
local_time.time_zone = +3
local_time.ntp_server1 = pool.ntp.org

## Смена стандартного пароля администратора web-интерфейса ##
security.user_password = admin:NewAdminPassword987

# ID: 1231
# CallerID: <1231>
# MAC Address: 2C:B5:7D:7D:93:57
# TNumber: 12312
# Дата: 2026-07-07 06:34:14
